<div class="overflow-x-auto">
  <div class="flex p-10 bg-gray-100 w-full">
    <%=
      link_to 'Create Expense',
              new_expense_path,
              class:
                'button bg-blue-500 font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6',
              role: 'button'
    %>
  </div>
  <div
    class="min-w-screen bg-gray-100 flex items-center justify-center bg-gray-100 font-sans overflow-hidden"
  >
    <%= render "table" %>
  </div>
</div>
